.contato-container {
  text-align: center;
  padding: 50px;
  background-color: #000000;
  border: 2px solid #6c757d;
  border-radius: 5px;
  margin: 50px auto;
  max-width: 600px;
}

.icones-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.icones-container a {
  display: inline-block;
  margin: 0 10px;
  color: #6c757d;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-size: 35px;
  transition: all 0.3s ease;
}

.icones-container a:hover {
  color: #fff;
  transform: scale(0.7);
}

.contato-container p {
  margin-top: 20px;
  font-size: 14px;
  color: #6c757d;
}

#hero-3 {
  background: #ede1b5;
  background-image: url('../assets/img/footer.webp');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 100vh !important;
}
