@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,600;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.header {
  background-image: url('./assets/img/bg-2.png');
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  overflow-x: hidden;
}

.tech-bg {
  background-image: url('./assets/img/bg-1.jpg');
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  overflow-x: hidden;
}

@media (max-width: 991px) {
  body {
    background-repeat: inherit;
  }
}